<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script>
       const a = ['6396b2c97b03524dc94f7db3', '6396d43d7b03524dc94f7dc9', '6396d9c47b03524dc94f7df1']
       const handleOnDelete = () => {
       const b = a.filter((item)=> { return item !== '6396b2c97b03524dc94f7db3';
       return b;
       })
        console.log(b)
        console.log(a)

       

       }
   
</script>
<body>
 
    <button onclick="handleOnDelete">delete</button>
    
</body>
</html>